* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 1px;
  padding: 0%;
  /* background-color: rgb(116, 113, 112); */
}

main {
  background: darkgray;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(15%, -5%) scale(0.9);
}
span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row-reverse;
}

.border {
  background-color: #6d1111;
  width: 80vw;
  height: 70vh;
  box-shadow: 2px 6px 5px 4px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  text-align: center;
  flex-wrap: wrap;
}
.grade {
  font-size: large;
  font-weight: bold;
}
#user-score {
  color: blue;
}
#total-score {
  color: blue;
}
.insides {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.choices {
  padding: 20px;
  order: 3;
}
.controls {
  padding: 20px;
  order: 4;
}
.message {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 20%;
  margin: auto;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: aliceblue;
  position: absolute;
  top: 80%;
  left: 40%;
}
.hide {
  display: none;
}
button {
  font-size: large;
  font-weight: bold;
  box-shadow: 0 3px 9px -2px;
  background: #a3a3a3;
  border-radius: 9px;
  padding: 9px;
  color: rgb(255, 255, 255);
  margin: 6px;
  cursor: pointer;
}
button:hover {
  color: black;
  padding: 20px;
}

header .timer {
  position: absolute;
  bottom: 0px;
  left: 0%;
  height: 3px;
  background: aqua;
}

body header .timer {
  color: rgb(242, 247, 247);
  background: #501915;
  border: 2px solid red;
  height: 19px;
  padding: 0 2px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}
body header .timer .time_left_text {
  font-weight: 400;
  font-size: 17px;
  user-select: none;
}
body header .timer .time_sec {
  font-weight: 500;
  font-size: 18px;
  user-select: none;
  height: 20px;
  width: 45px;
  color: aqua;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: red;
  border: 1p solid yellow;
}
body header .timer .time_line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: #6d1111;
}
#demo {
  text-align: center;
  font-size: 60px;
  border: #eb5904;
  color: #0a92d1;
  text-decoration: #fffcfc;
  padding: 1px;
}
p {
  display: inline;
  font-size: 40px;
  margin: 0px;

  padding: 20px;
  color: #fc0404;
}
#days {
  display: none;
}
#hours {
  display: none;
}
#mins {
  display: none;
}
